/* begin old about_me_html.css */

a { 
	color:#5D5D9E; 
} 

a:visited { 
	color:#5D5D9E; 
} 
a:active { 
	color:#5C615E; 
} 
a:hover { 
	color:#B2B3B4; 
} 


/*
	* WHY ARE THERE SO MANY BUTTONS? AAAAAAAAAA
	* - av
*/

#button_30174d59 {
	box-sizing: border-box; 
	vertical-align: bottom; 
	border-radius: 30px 0px 30px 0px; 
	position:relative; 
	display: inline-block; 
	width:150px; 
	height:40px; 
	background-color:#3C4158; 
	background: linear-gradient(to bottom, #6F78A1, #3C4158 ); 
	border: 2px solid #15171E;
}

#button_30174d59:hover {
	background-color:#A9A9BC;
	background: linear-gradient(to bottom, #00FFFF, #A9A9BC);
	border-color:#000000;  
}
#button_30174d59:hover span { 
	color:#FFFFFF; 
}

body { 
	background-color:#FFFFFF; 
	padding:0;  
	margin: 0; 
}

.textstyle1 { 
	text-align:left; 
}

/*
	* Same with the container class, why are there so many?
	* Anyways, i hope removing the duplicates doesn't break anything.
	* - av
*/

#container_e4bf9ac { 
	box-sizing: border-box; 
	vertical-align: top; 
	border-radius: 9px; 
	position:relative; 
	display: inline-block; 
	width:100%; 
	min-height:150px;
	background-color:#8080FF; 
	background: linear-gradient(to bottom, #FFFF80, #8080FF); 
	border: 1px solid #545454;  
}

#container_e4bf9ac_padding { 
	margin: 10px; 
	display: block;  
}

.vcenterstyle1 {
	display: table; 
	width: 100%; 
	height: 100%; 
}

.vcenterstyle2 { 
	display: table-cell; 
	vertical-align: middle; 
}

.textstyle2 { 
	text-align: center; 
}

.textstyle3 { 
	font-size:12pt; 
	font-family:Arial, Helvetica, sans-serif; 
	color:#FFFFFF;  
}

/* end old about_me_html.css */

/* begin old (needed) Style.css */

body {
    background-image: url(media/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: teal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    margin: 10px;
    font-size: 24px;
}

.ncscredit {
    font-size: 0.8em;
}

/* end old (needed) Style.css */
